{% extends 'bba/base.html' %}

{% block title %}スレッド{% endblock title %}

{% block content %}

<div class="contents">
    <h4>スレッド一覧</h4>
    {% if user.is_authenticated %}
        <a class="btn btn-primary float-right" href="{% url 'bba:thread_create' %}">スレッド作成</a>
    {% else %}
    {% endif %}
    <ul>
        {% for item in thread_list %}
            <li><a href="{% url 'bba:comment' item.pk %}">{{ item }}</a></li>
            {% if user == item.user %}
                <a href="{% url 'bba:thread_delete' item.pk %}">削除</a>
            {% endif %}
            </br>
        {% endfor %}
    </ul>
</div>

{% endblock content %}